# Docker files
 Dockerfile
 docker-compose.yml
 docker-compose.ymal
 .dockerignore

 # Git files
 .git
 .github
 .gitignore
 LICENSE
 README.md

 # Node modules and lint settings
 node_modules
 .prettierrc
 dist
 logs
 Lavalink.jar
 application.yml
 application.yaml