# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB (Preview) and CockroachDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

## Docker Compose Use Only

## Note DATABASE_URL must match POSTGRES variables
DATABASE_URL="postgresql://postgresUsername:postgresPassword@postgresDocker:5432/master-bot?schema=public"

POSTGRES_HOST="postgresDocker" # Must match service name in docker-compose
POSTGRES_USER="postgresUsername"
POSTGRES_PORT=5432
POSTGRES_PASSWORD="postgresPassword" # Password is required for docker-compose
POSTGRES_DB_NAME="master-bot"
REDIS_HOST="redisDocker" # Must match service name in docker-compose
REDIS_PORT=6379
REDIS_DB=0